.side-bar-styles{
    vertical-align: top;
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    float: left;
    height: 100%;
    width: 20%;
    .settings-menu-styles {
        list-style: none;
    }
}